body {
    font-family: monospace;
    background-color: #f5f5f5;
}

#all {
    width: 70%;
    height: 70%;
    margin: auto;
    margin-bottom: 10vh;
}

h1 {
    font-weight: bold;
    font-size: 3.5em;
    /* text-align: center; */
    /* padding: 0.3em; */
    margin: 0;
}

h2 {
    font-size: 2em;
    /* text-align: center; */
}

#num {
    font-weight: bold;
    color: #ff3838;
}

#num:hover {
    color: #ff0000;
}

#languages-container {
    margin: auto;
    width: 100%;
}

.t-item {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    color: #000000;
    background-color: #e2e2e2;
    overflow: hidden;
    padding: 7px 10px;
    margin: 1px;
    margin-right: 7px;
    margin-bottom: 10px;
    min-width: 100px;
    border-radius: 8px;
}

.t-item:hover {
    box-shadow: 0 0 2px #221a1a80;
    background-color: #e2e2e2;
    cursor: pointer;
}

.t-icon {
    color: #db4646;
    font-weight: bold;
}

.t-name {
    margin-left: 10px;
    font-weight: bold;
}

.t-extention {
    color: #575757;
}

.top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin: 5vh 0 8vh 0;
    width: 100%;
}

.top-link {
    text-decoration: none;
    padding: .5em 1em;
    margin-right: 1em;
    margin-bottom: .5em;
    border-radius: 0.2em;
    color: #ffffff;
    background-color: #9c3737;
}

a:hover {
    background-color: #ff3838;
}

#loading {
    width: 100vw;
    color: #ff3838;
    font-style: italic;
    text-align: center;
}

@media screen and (min-width: 600px) {
    #all {
        width: 90vw;
    }
}

@media screen and (max-width: 400px) {
    #all {
        width: 90vw;
        margin-top: 10vw;
    }
}
